

mixin sTour(data)
	// start sTour
	+b.SECTION.sTour.section#sTour&attributes(attributes)
		.container
			+e.main-row.row
				+e.col-main.col-lg-9
					+e.item--main
						+b.img-gallery
							+e.main-img(data-fancybox="gallery", href='img/gallery-1.png'): +img('img/gallery-1.png', 'bg')
							+e.imgs-wrap
								.img-wrap(data-fancybox="gallery", href='img/gallery-2.png'): +img('img/gallery-2.png', 'bg')
								.img-wrap(data-fancybox="gallery", href='img/gallery-3.png'): +img('img/gallery-3.png', 'bg')
								.img-wrap(data-fancybox="gallery", href='img/gallery-4.png').disp-none: +img('img/gallery-4.png', 'bg')
								.img-wrap(data-fancybox="gallery", href='img/gallery-5.png').disp-none: +img('img/gallery-5.png', 'bg')
								.img-wrap(data-fancybox="gallery", href='img/gallery-1.png')
									+img('img/gallery-1.png', 'bg')
									span Все фото
						.tabs.tabs-slider--js.swiper
							.tabs__caption.swiper-wrapper
								.tabs__btn.swiper-slide.active Программа
								.tabs__btn.swiper-slide Стоимость
								.tabs__btn.swiper-slide Информация
								.tabs__btn.swiper-slide Отзывы
								.tabs__btn.swiper-slide Расчет для группы

							.tabs__content.active
								+e.vk
									+img('img/vk-widget.png')
								.h3 Программа тура
								+b.schedule.small
									+e.title Даты туров:
									p 31 декабря 2023г. - 02 января 2024г.
								+ddGroup2
									+ddGroupItem2('31 декабря 2023г. (Воскресенье)', 'active')
										p
											span Прибытие 
											| в Ярославль поездом.
										p
											span 10.30 — 11.30: Встреча с экскурсоводом на вокзале г. Ярославль, у памятника С. Мамонтову.
										p
											span Переезд 
											| на автобусе в Кострому (70 км).
										p
											span Путевая экскурсия: 
											| Вы узнаете много интересных фактов и историй о Ярославской и Костромской земле, об удивительных людях, которые здесь родились...
										p
											span Обед 
											| в кафе города. 
										p
											span Обзорная экскурсия по Новогодней Костроме: 
											| Кострома особенно хороша в новогоднем убранстве — центральная площадь города с уникальной планировкой и памятниками архитектуры XVIII-XIX вв.: торговые ряды (мучные, рыбные, табачные и др.), присутственные дома, пожарная каланча, главная гауптвахта, памятник Ивану Сусанину, беседка А.Н. Островского. Памятник Юрию Долгорукому, знаменитый драматический театр А.Н.Островского которому уже больше 200 лет.
										p
											span Посещение действующего женского Богоявленско – Анастасиина монастыря 
											| где Вас ждет встреча с красавицей-Снегурочкой. Она всегда рада гостям и судовольствием расскажет вам, чем занимается. Вы сможете загадать свое заветное желание, которое обязательно сбудется. 
										p
											span Интерактивная экскурсия в терем Снегурочки, 
											| Вы узнаете много интересных фактов и историй о Ярославской и Костромской земле, об удивительных людях, которые здесь родились...
										p
											span.span-2 За дополнительную плату: 
											span посещение Ледяной комнаты.
										p
											span Экскурсия в действующий мужской Свято-Троицкий Ипатьевский монастырь 
											| - великолепное творение русских зодчих и иконописцев 17 века, колыбель царской династии Романовых. Вас ждет экскурсия по Троицкому собору с уникальными фресковыми росписями, посещение палат бояр Романовых.
										p
											span Посещение Музея льна и бересты 
											| — вы узнаете об особенностях ткацкого ремесла прошлых веков, увидите изделия из бересты старых и современных мастеров. А в магазине вы сможете приобрести изделия изо льна от производителей по приятным ценам.
										p
											span 18.30: 
											| Трансфер в гостиницу. 
											span Размещение.
										p
											span.span-2 За дополнительную плату:
											span Новогодний банкет
									+ddGroupItem2('01 января 2024г. (Понедельник)')
										p
											span Прибытие 
											| в Ярославль поездом.
										p
											span 10.30 — 11.30: Встреча с экскурсоводом на вокзале г. Ярославль, у памятника С. Мамонтову.
										p
											span Переезд 
											| на автобусе в Кострому (70 км).
										p
											span Путевая экскурсия: 
											| Вы узнаете много интересных фактов и историй о Ярославской и Костромской земле, об удивительных людях, которые здесь родились...
										p
											span Обед 
											| в кафе города. 
										p
											span Обзорная экскурсия по Новогодней Костроме: 
											| Кострома особенно хороша в новогоднем убранстве — центральная площадь города с уникальной планировкой и памятниками архитектуры XVIII-XIX вв.: торговые ряды (мучные, рыбные, табачные и др.), присутственные дома, пожарная каланча, главная гауптвахта, памятник Ивану Сусанину, беседка А.Н. Островского. Памятник Юрию Долгорукому, знаменитый драматический театр А.Н.Островского которому уже больше 200 лет.
										p
											span Посещение действующего женского Богоявленско – Анастасиина монастыря 
											| где Вас ждет встреча с красавицей-Снегурочкой. Она всегда рада гостям и судовольствием расскажет вам, чем занимается. Вы сможете загадать свое заветное желание, которое обязательно сбудется. 
									+ddGroupItem2('02 января 2024г. (Вторник)')
										p
											span Прибытие 
											| в Ярославль поездом.
										p
											span 10.30 — 11.30: Встреча с экскурсоводом на вокзале г. Ярославль, у памятника С. Мамонтову.
										p
											span Переезд 
											| на автобусе в Кострому (70 км).
										p
											span Путевая экскурсия: 
											| Вы узнаете много интересных фактов и историй о Ярославской и Костромской земле, об удивительных людях, которые здесь родились...
										p
											span Обед 
											| в кафе города. 
										p
											span Обзорная экскурсия по Новогодней Костроме: 
											| Кострома особенно хороша в новогоднем убранстве — центральная площадь города с уникальной планировкой и памятниками архитектуры XVIII-XIX вв.: торговые ряды (мучные, рыбные, табачные и др.), присутственные дома, пожарная каланча, главная гауптвахта, памятник Ивану Сусанину, беседка А.Н. Островского. Памятник Юрию Долгорукому, знаменитый драматический театр А.Н.Островского которому уже больше 200 лет.
										p
											span Посещение действующего женского Богоявленско – Анастасиина монастыря 
											| где Вас ждет встреча с красавицей-Снегурочкой. Она всегда рада гостям и судовольствием расскажет вам, чем занимается. Вы сможете загадать свое заветное желание, которое обязательно сбудется.
							.tabs__content.cost
								+e.vk
									+img('img/vk-widget.png')
								.h3 Стоимость тура
								+b.schedule.small.mb-50
									+e.title Заезды:
									p 31 декабря 2023г. - 02 января 2024г.
								+ddGroup2
									+ddGroupItem3('Кострома', '“Московская застава”', 'active')
										table.mb-10
											tr
												td 2-местный Мансарда
												td 18 500.00 руб.
											tr
												td 2-местный номер стандартный
													.sub.small Ребенок до 14 лет на доп.месте
												td 19 500.00 руб.
											tr
												td 1-местный Мансарда
												td 24 750.00 руб.
										+e.btn.btn-link(href='#') Развернуть
									+ddGroupItem3('Кострома', '“Снегурочка”', 'active')
										table
											tr
												td 2-местный Мансарда
												td 18 500.00 руб.
											tr
												td 1-местный Мансарда
												td 24 750.00 руб.
											tr
												td 2-местный номер стандартный
													.sub.small Ребенок до 14 лет на доп.месте
												td 19 500.00 руб.
											tr
												td 2-местный номер стандартный
													.sub.small Ребенок до 14 лет на доп.месте
												td 19 500.00 руб.
											tr
												td 2-местный номер стандартный
													.sub.small Ребенок до 14 лет на доп.месте
												td 19 500.00 руб.
									+ddGroupItem3('Кострома', 'Бутик Отель «Олд Стрит»')
										table
											tr
												td 2-местный Мансарда
												td 18 500.00 руб.
											tr
												td 1-местный Мансарда
												td 24 750.00 руб.
								+e.dop-row.row.mb-50
									+e.col.col-lg-6
										+b.info-item
											+icon('plus')
											+e.title В стоимость входит:
											ul
												li Проживание в выбранной гостинице
												li Питание: 2 завтрака, 3 обеда
												li Транспортное обслуживание: по программе
												li Сопровождение профессиональниым гидом-экскурсоводом
												li Экскурсионная программа и входные билеты: по программе
									+e.col.col-lg-6
										+b.info-item
											+icon('minus')
											+e.title В стоимость не входит:
											ul
												li ЖД-проезд «Москва-Ярославль-Москва»
												li Новогодний банкет в отеле (цена уточняется)
										+e.warn.small
											+icon(`warning`) 
											| Цена указана за одного человека
								+e.add-info.small
									ul
										li Туроператор сохраняет за собой право в зависимости от объективных обстоятельств, при этом сохраняя объем и качество оказываемых услуг, изменить порядок проведения экскурсий, объектов питания и размещения!
										li При наборе группы менее 19 человек будет подан микроавтобус туристического класса.
										li Время в программе является ориентировочным, и зависит от дорожных обстоятельств.
							.tabs__content.inform
								+e.vk
									+img('img/vk-widget.png')
								.h3 Информация
								+e.dop-row.row.mb-50
									+e.col.col-lg-6
										+e.warn-wrap.small
											+icon(`warning`) 
											+e.text
												p Доплата за Новогодний ужин уточняется.<br>
												p При группе менее 20 человек предоставляется микроавтобус!
									+e.col.col-lg-6
										+b.info-item
											+e.title Дополнительная информация:
											p Цены просим уточнять!
											p Фирма оставляет за собой право изменения экскурсионной программы по дням, с условием выполнения ее в полном объеме.
								+ddGroup2
									+ddGroupItem3('Кострома', '“Московская застава”', '')
										p Гостиница «Московская застава» (г. Кострома, ул. 1 Мая, д.5) расположена в самом центре Костромы, на берегу реки Волга, в 15 минутах езды от основных вокзалов и в пешей доступности от остановок общественного транспорта.
										p Гостиница располагает 40 уютными номерами, где может разместиться от одного до четырех человек.
										p Все номера оборудованы современной мебелью, системой индивидуального кондиционирования, LED-телевизором со спутниковым телевидением, телефоном. В ванных комнатах гостям предоставляются фен, комплект полотенец и косметические принадлежности.
										p В стоимость проживания включен завтрак по системе «Шведский стол». По желанию гостей возможен заказ и доставка в номер обеда и ужина из ресторанов нашей сети.
										p К услугам гостей круглосуточная стойка регистрации, лобби-бар, свободный доступ в интернет (Wi-Fi), банный комплекс.
									+ddGroupItem3('Кострома', '“Московская застава”', 'active')
										p Гостиница «Московская застава» (г. Кострома, ул. 1 Мая, д.5) расположена в самом центре Костромы, на берегу реки Волга, в 15 минутах езды от основных вокзалов и в пешей доступности от остановок общественного транспорта.
										p Гостиница располагает 40 уютными номерами, где может разместиться от одного до четырех человек.
										p Все номера оборудованы современной мебелью, системой индивидуального кондиционирования, LED-телевизором со спутниковым телевидением, телефоном. В ванных комнатах гостям предоставляются фен, комплект полотенец и косметические принадлежности. остям предоставляются фен.
										p В стоимость проживания включен завтрак по системе «Шведский стол». По желанию гостей возможен заказ и доставка в номер обеда и ужина из ресторанов нашей сети.
										p К услугам гостей круглосуточная стойка регистрации, лобби-бар, свободный доступ в интернет (Wi-Fi), банный комплекс.
									+ddGroupItem3('Кострома', '“Снегурочка”', 'active')
										p Гостиница «Снегурочка» (г. Кострома, ул. Лагерная, 38/13) расположена в 2 км от центра города Кострома, в 350 метрах от Волги. К услугам гостей фитнес-центр, сауна, ресторан, бесплатная парковка и номера с бесплатным Wi-Fi. Номера отеля «Снегурочка» оснащены кондиционером. Интерьер номеров оформлен в фольклорном стиле и посвящен Снегурочке. В числе удобств телевизор, мини-бар и собственная ванная комната с феном и бесплатными туалетно-косметическими принадлежностями. Тапочки и халаты предлагаются за дополнительную плату. Ресторан «Метелица» специализируется на блюдах как классической, так и современной русской кухни. Завтрак «шведский стол». Рядом с отелем расположен терем Снегурочки.Завтрак «шведский стол». Рядом с отелем расположен терем Снегурочки.
							.tabs__content.reviews
								+e.vk
									+img('img/vk-widget.png')
								.h3 Отзывы
								+e.rev-wrap
									+review2('Ольга, Марина', '20.07.23-23.07.23', 'По "Государевой Дороге из Петербурга в Москву"', 'С 20.07.23 по 23.07.23 были на экскурсии по "Государевой Дороге из Петербурга в Москву".Благодарим экскурсовода Анну Горшкову за интересный и увлекательный рассказ. увлекательный рассказ.')
									+review('Константин, Александра', '15.04.23', 'Ярославль-Кострома', 'Очень хорошие впечатления. Экскурсовод Анна Кострова - супер. Очень интересно, доходчиво, познавательно.рассказала.Доброжелательные, отзывчивые водители.Как появится возможность ещё куда-то поехать - обратимся в Виадук.')
									+review('Светлана', '2-3 янв', 'иваново-палех-шуя', 'Спасибо, дорогой Виадук! Мы так хорошо прокатились коллективом в иваново. и полюбовались, и узнали много чего, и прикупили: палехские шкатулочки, шуйские ситцы. отель - очень хороший, еда - ну все прекрасно! А банкет!!! Мы к вам еще вернемся! А банкет!!! Мы к вам еще вернемся!')
								+e.btn.btn.btn-warning оставить отзыв
							.tabs__content.calc
								+e.vk
									+img('img/vk-widget.png')
								.h3 Расчет для группы
								+e.input-wrap.form-group.wrapper
									.radio-wrap
										+in-c('radio','Частное лицо')(checked)
										+in-c('radio','Юр. лицо')
									+e.form-row.row
										+e.col.col-md-6
											+input("Контактное лицо*", 'text', '')
											+input("Телефон*", 'tel', '')
											+input("Email",'email','')
											+input("Название тура", 'text', '')
										+e.col.col-md-6
											.data-picker-wrap
												+input("Предполагаемая дата выезда*",'text', "")(required readonly autocomplete="off"  class="date-input").data-picker--js
											+input("Количество дней*", 'number', '')
											+input("Количество человек в группе*", 'number', '')
											+input("В том числе школьников (до 16 лет)*", 'number', '')
										+e.col.col-auto
											+in-c()(checked)
												+e.SMALL.text.text-secondary Нужно дополнительное питание
										+e.col.col-12
											+input("Комментарии к запросу", 'textarea', '')
										+e.col.col-auto
											+policy
										+e.col.col-12
											+e.btn.btn.btn-warning(type="submit") отправить

				+e.col-aside.col-auto.col-lg-3
					+e.wrap
						+e.item.small
							+e.upd
								span Обновлено: 
								| 10.09.2023 16:37:48 мск.
							+e.stars
								+e.item-stars
									+e.item-star.active
										+icon('rate-star')
									+e.item-star.active
										+icon('rate-star')
									+e.item-star.active
										+icon('rate-star')
									+e.item-star.active
										+icon('rate-star')
									+e.item-star
										+icon('rate-star')
								| рейтинг: 5
							+b.schedule
								+e.title Даты туров:
								p 31 декабря 2023г. - 02 января 2024г.
							+e.btn.btn.btn-warning.fw-300 от 
								span 16 500 
								| руб./чел. 
								p Смотреть все цены
							+e.btn.btn.btn-warning Забронировать онлайн
							+e.icons
								+e.icon-wrap(href='#')
									+icon('like')
									p Отложить
								+e.icon-wrap(href='#')
									+icon('card')
									p Оплатить картой
								+e.icon-wrap(href='#')
									+icon('doc')
									p Скачать в.doc
							+e.info
								span Внимание <br>
								| Если вы покупаете тур в день бронирования (забронировать можно по телефону, факсу или email), то вы получаете скидку 3%
						+e.item
							+e.item-title Похожие туры
							+sameTour('1', 'Праздничный тур на 3 дня Ярославль – Кострома – Нерехта')
							+sameTour('2', 'Тур на 2 дня Шуя - Палех - Иваново «Ивановские «манеры»')
							+sameTour('3', 'Тур на 2 дня Палех-Шуя-Иваново 02-03.01, 04-05.01, 05-06.01.2024')

mixin sameTour(img, descr)
	+b.same-tour(href='#').smallest
		+img(`img/same-tour-${img}.png`)
		p!= descr
	// end sTour

mixin review(name, date, tour, descr)
	+b.review-card
		+e.author
			+e.name
				+icon('review')
				span!= name
			+e.date.small!= date
		+e.tour.small!= tour
		+e.descr
			p!= descr


mixin review2(name, date, tour, descr)
	+b.review-card
		+e.author
			+e.name
				+icon('review')
				span!= name
			+e.date.small!= date
		+e.tour.small!= tour
		+e.descr
			p!= descr
			p На экскурсии бывали -<br>Очень много повидали.<br>Златоглавую Москву<br>И мосты через реку,<br>Центр "Сити" деловой,<br>300 метров высотой.<br>А Царицыно усадьба-<br>Это сплошь дворцов ансамбль<br>С павильонами, прудами<br>И пейзажными местами.<br>Не усадьба, а музей,<br>Место жительства царей.<br>Столько знаний получили,<br>Словно школу посетили.<br>Знаний много не бывает,<br>И об этом каждый знает.<br>Их везем с собой домой<br>В Петербург свой дорогой.<br>
			p 23.07.2023<br>Марина, Ольга<br>Санкт-Петербург